<h1> Creating a new Game page</h1>

<form action="/games" method="post">
  <% @players.each do |player| %>
    <label> <%= player.username %>
        <input type="checkbox" name="game[player_ids][]" id="" value="<%= player.id %>"> 
    </label>
  <%  end %>
  <input type="submit" value="create a new Game">
</form>